.heading {
    font-size: 18px;
    width: 100%;
}
.note {
    color: brown;
    font-size: 15px;
}

body {
    background: url("background.jpg");
    background-size: cover;
}

canvas {
   
    margin-top: 50px;
    border: 4px dashed white;
}